<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                                <h2 class="text-center text-padded">About</h2>
                    <img src="img/about/about_bw.jpg" class=" img-circle img-me" style="width:25%"/><!-- -->
                                <p>
                    <h3 class="section-subheading text-muted">I have had the opportunity to travel the world and train at various leading academic and corporate research units.
                         I have provided a small window into professional and academic journey since my undergraduate years. These experiences have helped me mould my
                    research philosophies and hone my technical skills
                </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Anna_University_Logo_background.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2006</h4>
                                    <h4 class="subheading">Anna University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent a wonderful four years as an undergrad in the beautiful city of Chennai. I majored in Mechanical Engineering where I specialized in Robotics and
                                        Operations Research.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/university_of_maryland_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2008</h4>
                                    <h4 class="subheading">University of Maryland, College Park</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I received my first masters in Aerospace Engineering where I did research in Space Robotics and Interplanetary Guidance and Navigation. I also had the pleasure of working at
                                        <a href="http://www.ssl.umd.edu/" target="_blank">Space Systems Laboratory</a> under the supervision of Dr. David Akin.  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ais_automation_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">AIS Automation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I travelled around the world implementing manufacturing automation solutions for Solar Cell Manufacturing. Our primary clients were in
                                    Taiwan, Korea and India.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/university_of_penn_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">University of Pennsylvania</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I received my second masters in Robotics where I did research on computer vision and active perception at the world reknowned
                                        <a href="http://www.grasp.upenn.edu/" target="_blank">GRASP Laboratory</a>.
                                        I did my thesis title "Sequential Hypothesis Testing for Next Best View Estimation" was supervised by  <a href="http://www.cis.upenn.edu/~kostas/" target="_blank">Prof. Kostas Daniilidis</a>, who was also my primary advisor.
                                        I was also co-advised by <a href="http://www.cis.upenn.edu/~cjtaylor/home.html" target="_blank">Prof. Camillo J. Taylor</a>. You can find a copy of my masters thesis
                                        <a href="https://drive.google.com/file/d/0B0DjNkiNfgjgM3lzUG1Ec0lXS00/view?usp=sharing" target="_blank">here</a>.
                               </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ri_logo_square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2010</h4>
                                    <h4 class="subheading">Robotics Institute, Carnegie Mellon University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked on riverine mapping project under the advisement of <a href="http://www.frc.ri.cmu.edu/~ssingh/Sanjiv_Singh/home.html" target="_blank">Prof Sanjiv Singh</a>. My primary research objective was to detect rivers in monocular color images to enable navigation for UAVs in GPS denied riverine
                                    environments. I also collaborated with <a href="http://stephennuske.com/index.php" target="_blank">Dr. Stephen Nuske</a> and 
                                    <a href="http://theairlab.org/staff/sebastian-scherer/" target="_blank">Dr. Sebastian Scherer</a>.</p>
                                    <p><b>Relevant Publications: </b> [<a href="https://ieeexplore.ieee.org/abstract/document/5980157" target="_blank">ICRA 11</a>] </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" href="https://www.bosch.us/our-company/innovation/" src="img/about/bosch_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2011</h4>
                                    <h4 class="subheading">Bosch Research and Technology Center</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent a summer at the Palo Alto labs working on failure recovery for autonomous mobile robots and humanoids using shared autonomy interfaces.
                                        I was hosted by <a href="http://www.pitzers.de/benjamin/" target="_blank">Dr. Benjamin Pitzer</a> and
                                        <a href="https://sites.google.com/site/sosentos/" target="_blank">Dr. Sarah Osentoski</a>.</p>
                                    <p><b>Relevant Publications: </b> [<a href="https://ieeexplore.ieee.org/abstract/document/7759718" target="_blank">IROS 12</a>] 
                                        [<a href="https://scholar.google.com/scholar?oi=bibs&cluster=15033558220785359494&btnI=1&hl=en" target="_blank"> IROS WS-11</a>] .</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/university_of_southern_california_logo_square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2018</h4>
                                    <h4 class="subheading">University of Southern California</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent a wonderful 6 years in sunny Southern California working at the
                                        <a href="http://clmc.usc.edu/" target="_blank"> Computational Learning and Motor Control</a>
                                        Laboratory under the supervision of Prof. <a href="http://www-clmc.usc.edu/Main/StefanSchaal/" target="_blank">Stefan Schaal</a>. 
                                        I also spent time as a visiting researcher at the 
                                        <a href="https://am.is.tuebingen.mpg.de/" target="_blank"> Max Planck Institute for Intelligent Systems</a>. 
                                        I also received a Masters in Computer Science focused on mathematical optimization. 
                                        My doctoral research primarily focused on 
                                            algorithms for <a href="https://tinyurl.com/y9gdq6wl" target="_blank">active and interactive perception for 3D object recognition</a>.
                                             You can read my dissertation <a href="https://tinyurl.com/ydapy7nc" target="_blank">here</a>.</p>
                                             <p><b>Relevant Publications:</b>  
                                                [<a href="https://ieeexplore.ieee.org/abstract/document/6631173" target="_blank">ICRA 13</a>]
                                                [<a href="https://ieeexplore.ieee.org/abstract/document/6822578" target="_blank">TRO 14</a>] 
                                                <br>[<a href="http://rldm.org/past-meetings/rldm2015/" target="_blank">RLDM 15</a>]
                                                [<a href="https://ieeexplore.ieee.org/abstract/document/8007233" target="_blank">TRO 17</a>].
                                         </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/MERL_logo_square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2014</h4>
                                    <h4 class="subheading">Mitsubhishi Electric Research Labs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent a summer with the <a href="http://www.merl.com/research/computer-vision" target="_blank">Computer Vision Team</a> in Boston working on
                                        Illumination Invariant Image Matching for Autonomous Driving Applications. My hosts were
                                            <a href="https://www.cs.utah.edu/~srikumar/" target="_blank"> (Prof.) Dr. Srikumar Ramalingam </a> and 
                                            <a href="http://yuichitaguchi.com/" target="_blank">Dr. Yuichi Taguchi</a>.</p>
                                        <p><b>Relevant Publications: </b> [<a href="https://ieeexplore.ieee.org/abstract/document/7759718" target="_blank">IROS 16</a>]
                                        [<a href="https://tinyurl.com/ycclvqj2" target="_blank">US Patent 10.013.765</a>] </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/qualcomm_logo_background.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summmer 2015</h4>
                                    <h4 class="subheading">Qualcomm Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent a wonderful summer in sunny San Diego with the
                                        <a href="https://www.qualcomm.com/invention/research/projects/computer-vision" target="_blank">computer vision team</a>
                                          at Qualcomm Corporate Research. Here I worked on algorithms for loop closure detection for visual inertial navigation.
                                        My hosts were <a href="https://www.researchgate.net/profile/Christopher_Brunner" target="_blank">Dr. Chris Brunner</a> and 
                                        <a href="https://scholar.google.com/citations?user=J_k4BTwAAAAJ&hl=en" target="_blank">Dr. Harris Teague.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join Us 
                                    <br>at
                                    <br><a href="https://www.scaledrobotics.com/careers" target="_blank">Scaled!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
