<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">I am a Roboticist and Entrepreneur who co-founded  <a href="http://www.scaledrobotics.com" target="_blank">Scaled Robotics</a>
                        to modernize construction. Construction a process which addresses one of the most fundamental of human needs, shelter, is currently plagued
                        by waste and inefficiency. At Scaled Robotics, we are on a mission to modernize 21st century construction with the help of Robotics and A.I to make the industry
                        less polluting and more efficient. You can find out more about my views on construction here
                        I received my Ph.D in Computer Science from the  <a href="http://www.usc.edu/" target="_blank">University of Southern California</a>
                        under supervision of Prof.<a href="http://www-clmc.usc.edu/Main/StefanSchaal/" target="_blank"> Stefan Schaal.</a>.
                    I also have masters degrees from University of Southern California, University of Pennsylvania and University of Maryland College Park.
                   Over the last decade I have worked on ground, aerial and humanoid robotics. My research insterests lie in how to get intelligent systems to move and interact
                       with their environment in order to build better models of their environment.</h3>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Scaled Robotics</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research Projects</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Argentine Tango</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>