<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-14 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="section-subheading text-muted" style="font-size:125%; text-align:justify">I am the CTO and Co-founder of  <a href="http://www.scaledrobotics.com" target="_blank">Scaled Robotics</a>.
                        Scaled Robotics is a company on a mission to modernize 21st century construction with the help of Robotics and Artificial Intelligence.
                        Construction, a process which addresses one of the most fundamental of human needs, namely shelter, is plagued
                        by waste and inefficiency. At Scaled Robotics we are addressing these issues by developing new tools for this industry that will impact their processes from
                        end to end.
                        <p style="font-size:125%; text-align:justify">
                        Prior to founding Scaled Robotics, I spent more than a decade working as a robotics researcher at some of the world's leading robotics labs. My alma mater includes, the
                        <a href="http://www-clmc.usc.edu/" target="_blank">Computational Learning and Motor Control Laboratory</a>, the Max Planck Institute's
                        <a href="https://am.is.tuebingen.mpg.de/" target="_blank">Autonomous Motion Department</a>,
                        the <a href="https://www.grasp.upenn.edu/" target="_blank">GRASP Laboratory</a> and the <a href="http://www.frc.ri.cmu.edu/" target="_blank">Robotics Institute</a>
                        to name a few. During my academic research career I worked on a wide spectrum of autonomous systems including ground, aerial and humanoid robots.
                        My primary research interests lie in Active and Interactive perception. This entails the study of solving problems related to perception
                        through movement and interaction. I believe that such an approach to robot perception is fundamental for autonomous systems to build better models of their environment,
                        hence more effectively close perception-action loops. </p>
                        <p style="font-size:125%; text-align:justify">
                        In pursuit of this research objective, I received a Ph.D in Computer Science from the  <a href="http://www.usc.edu/" target="_blank">University of Southern California</a>
                        under the supervision of Prof.<a href="http://www-clmc.usc.edu/Main/StefanSchaal/" target="_blank"> Stefan Schaal.</a>. I also have degrees in Aerospace Engineering,
                        Computer Science, Robotics and Mechanical Engineering. You can read more about my professional journey <a href="#about" target="_blank"> here.</a> </p> </p>

                </div>
            </div>
            <!--<div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Scaled Robotics</h4>
                    <p class="text-muted">Construction can be viewed as a process of additive and subtractive manufacturing.
                        At Scaled Robotics we optimize the processes underlying these problems with physical systems capable of closed loop perception-action cycles.
                        You can learn more about out what are cool robots are capable of in our <a href="http://www.scaledrobotics.com/" target="_blank">website</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research Projects</h4>
                    <p class="text-muted">During my career, I have worked on a wide variety of research problems relating to robot perception, motion and learning.
                        In my <a href="#portfolio" target="_blank">portfolio</a> below you should find a subset of some of my current and past research projects.
                            I try to keep this list as active and up-to-date possible</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Outreach</h4>
                    <p class="text-muted">When I am not tinkering with robots or building mathematical models of movement for perception, I take my scientific musings to the real world through two of my favorite hobbies. Namely,
                        Argentine Tango and Rock Climbing.</p>
                </div>
            </div> -->
        </div>
    </section>