<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Hobbies</h2>
                    <h3 class="section-subheading text-muted">When I am not tinkering with robots or building mathematical models of movement for perception, I take my scientific musings to the real world
                        through two of my favorite hobbies. Namely, Argentine Tango and Rock Climbing.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="" style="width:75%">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I believe both Argentine Tango and Rock Climbing, apart from being extremely satisfying and relaxing are also problems that
                        involve highly coupled perception-action loops. These problems also rely on low level model predictive control while executing a larger global plan. They also incorporate exploration
                        to deal with environment uncertainty. With these observations from the dance floor and climbing gym, I want to understand how we can build robots capable exploiting motion
                        to cope with uncertainty and build better models of their environment</p>
                </div>
            </div>
        </div>
    </section>